html {
  font-family: serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.row
{
	margin:30px;
}
#cap
{
	font-weight: bolder;
	padding: 10;
	color:#0ba0ec;
}
.alink {
  color: grey;
  font-style: italic;
}

.alink:hover,
.alink:focus {
  color: black;
  text-decoration: none;
  font-weight:bold;
}